<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Universidades</h2>

      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Universidad</mat-label>

          <input
            matInput
            placeholder="Universidad"
            formControlName="nameUniversity"
          />

          <mat-error
            *ngIf="obtenerControlCampo('nameUniversity')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Dirección</mat-label>

          <input
            matInput
            placeholder="Dirección"
            formControlName="adressUniversity"
          />

          <mat-error
            *ngIf="obtenerControlCampo('adressUniversity')?.errors?.['required']"
          >
            La dirección es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Tipo</mat-label>

          <mat-select formControlName="typeUniversity">
            <mat-option *ngFor="let p of tipos" [value]="p.value">
              {{ p.viewValue }}
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="obtenerControlCampo('typeUniversity')?.errors?.['required']"
          >
            El tipo es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />

        <mat-form-field appearance="fill" class="example-full-width">
          <input
            matInput
            placeholder="Ingrese fecha"
            [matDatepicker]="picker"
            formControlName="creationDateUniversity"
            [max]="maxFecha"
          />

          <mat-hint>MM/DD/YYYY</mat-hint>

          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>

          <mat-error
            *ngIf="obtenerControlCampo('creationDateUniversity')?.errors?.['required']"
          >
            La fecha de creación es obligatoria.
          </mat-error>
        </mat-form-field>

        <br />

        <button mat-raised-button color="primary">Aceptar</button>

        <button mat-raised-button color="warn" routerLink="/universidades">
          Cancelar
        </button>

        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
